@import "tailwindcss";
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  /* Screen sizes */
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;

  /* Colors */
  --color-grey: hsl(0, 0%, 58%);
  --color-blue-dark: hsl(234, 29%, 20%);
  --color-blue-light: hsl(235, 18%, 26%);
  --color-red: hsl(4, 100%, 67%);
}

html {
  font-family: Roboto, sans-serif;
}

p {
  color: var(--color-blue-light);
}
